<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>

<%= image_tag "vintageviolin.jpg", class: "giant-background-image" %>

<div class="row" style="padding-top: 80px; padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px">
  <div class="col-md-10 col-md-offset-1 black-background">
    <div class="text-center">
      <div class="cat-breath-mints">
        ForteDuo
      </div>
      <div class="description">
        Soulful music for any occasion
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="row" style="padding-top: 250px; padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px">
  <div class="col-md-10 col-md-offset-1" style="position: fixed">
    <div class="text-center">
      <div align="center">
        <div class="ghost-button">
          <div class="button-text">
            Contact us
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .button-text{
    margin-top: 11%;
  }
  .ghost-button{
    border: 10px solid white;
	  width: 300px;
	  height: 97px;
	  color: white;
	  font-family: "Open Sans", sans-serif;
	  font-size: 36px;
	  font-weight: 700;
	  cursor: pointer;
  }
  .black-background{
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
    padding-bottom: 60px;
    position: fixed;
  }
  .description{
    color: white;
    font-size: 35px;
    line-height: 50px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
  }
  .cat-breath-mints{
    font-size: 60px;
    color: white;
    line-height: 68px;
    font-weight: bolder;
    font-family: "Open Sans", sans-serif;
  }
  .giant-background-image{
  	opacity: 0.7;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
</style>