<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>

<br><br><br><br><br>
<div class="row" style="margin: 0">
  <div class="col-md-5 col-md-offset-1">
    <%= image_tag "photo.jpg", style: "padding-top: 115px; width: 500px; height: auto" %>
  </div>
  <div class="col-md-5">
    <div class="page-title">
      Maggie Wu, violinist 
    </div>
    <div class="page-description">
      Type here later
    </div>
  </div>
</div>e

<style type="text/css">
  .page-title{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 200;
    margin-top: 148px;
  }

  .page-description{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-top: 30px;
    line-height: 26px;
  }
</style>